<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Image Generator</title>
	<link rel="icon" href="img/icon.jpg" type="icon/x-icon">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Syne:wght@400;800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{url_for('static', path='normalize.css')}}">
	<link rel="stylesheet" href="{{url_for('static', path='imagestyle.css')}}">
	<style>
		.redirect_btn{
			background-color: #000;
			color: #fff;
			padding: 10px 20px;
			border-radius: 5px;
			text-decoration: none;
			font-size: 20px;
			font-family: 'Syne', sans-serif;
			transition: all 0.3s ease-in-out;
		}
		
	</style>
</head>

<body>

	<!-- div .wrapp -->
	<div id="luxy" class="wrapp">

		<!-- div .header -->
		<header class="header">
			<h1 class="title" data-splitting><span class="title_paralax">Image</span><span class="stroke">Generator</span></h1>
			<div class="header__img">
				<img src="https://images.unsplash.com/photo-1675557570482-df9926f61d86?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1331&q=80" alt="1">
			</div>
			<div class="header__marq">
				<div class="header__marq-wrapp">
					<span class="header__marq-txt">Create the imagination
						<span class="header__marq-star">
							<img src="{{url_for('assets', path='star.svg')}}" alt="">
						</span>
					</span>
					<span class="header__marq-txt">form your ideas
						<span class="header__marq-star">
							<img src="{{url_for('assets', path='star.svg')}}" alt="">
						</span>
					</span>
					<span class="header__marq-txt">make your ideas come true
						<span class="header__marq-star">
							<img src="{{url_for('assets', path='star.svg')}}" alt="">
						</span>
					</span>
					<span class="header__marq-txt">create your own world of images
						<span class="header__marq-star">
							<img src="{{url_for('assets', path='star.svg')}}" alt="">
						</span>
					</span>
				</div>
			</div>
		</header>

		<main class="main">

			<!-- div .about -->
			<section class="about">
				<div class="about__wrapp">
					<div class="about__img">
						<img src="https://images.unsplash.com/photo-1593687395549-400945fed803?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=435&q=80" alt="2">
					</div>
					<div class="about__txt">
						<h2 class="section-title">abo<span class="stroke">ut</span>
							<span class="section-title__square"></span>
						</h2>
						<p class="about__p">
                            This project is a generator of images using DALLE technology. You can generate image by giving the prompt and the application generates the image. You can also share the images with community and see the images generated by other users. You can also download the generated images.
                        </p>
					</div>
				</div>
			</section>

			<!-- div .benefits -->
			<!-- <section class="benefits">
				<div class="content">
					<h2 class="section-title">benef<span class="stroke">its</span>
						<span class="section-title__square"></span>
					</h2>

					<ul class="benefits__list">
						<li class="benefits__item">
							<span class="benefits__num" data-speed="-200">/01</span>
							<p class="benefits__p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, quas.
							</p>
						</li>
						<li class="benefits__item">
							<span class="benefits__num" data-speed="-150">/02</span>
							<p class="benefits__p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, quas.
							</p>
						</li>
						<li class="benefits__item">
							<span class="benefits__num" data-speed="-150">/03</span>
							<p class="benefits__p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, quas.
							</p>
						</li>
						<li class="benefits__item">
							<span class="benefits__num" data-speed="-150">/04</span>
							<p class="benefits__p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, quas.
							</p>
						</li>
						<li class="benefits__item">
							<span class="benefits__num" data-speed="-110">/05</span>
							<p class="benefits__p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, quas.
							</p>
						</li>
						<li class="benefits__item">
							<span class="benefits__num" data-speed="-200">/06</span>
							<p class="benefits__p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, quas.
							</p>
						</li>
					</ul>
				</div>
			</section> -->

			<!-- div .work -->
			<section class="work">
				<div class="content">
					<h2 class="section-title">some<span class="stroke">examples</span>
						<span class="section-title__square"></span>
					</h2>
				</div>

				<div class="work__wrapp">
					<div class="work__item" data-speed="-300">
						<span class="work__item-num" data-speed="-1000">/001</span>
						<div class="work__item-img">
							<img src="https://michaelhoweely.com/wp-content/uploads/2022/07/DALL%C2%B7E-2022-06-23-20.32.11-Two-astronauts-exploring-the-dark-cavernous-interior-of-a-huge-derelict-spacecraft-digital-art-1024x1024.png" alt="3">
						</div>
					</div>
					<div class="work__item" data-speed="-600">
						<span class="work__item-num" data-speed="-500">/002</span>
						<div class="work__item-img">
							<img src="https://michaelhoweely.com/wp-content/uploads/2022/07/DALL%C2%B7E-2022-06-27-10.01.31-a-samurai-riding-a-horse-on-mars-lomography-1024x1024.png" alt="4">
						</div>
					</div>
					<div class="work__item" data-speed="-700">
						<span class="work__item-num" data-speed="-700">/003</span>
						<div class="work__item-img">
							<img src="https://michaelhoweely.com/wp-content/uploads/2022/07/DALL%C2%B7E-2022-07-03-12.49.30-a-man-standing-in-front-of-a-stargate-to-another-dimension-1024x1024.png" alt="5">
						</div>
					</div>
					<div class="work__item" data-speed="-400">
						<span class="work__item-num" data-speed="-200">/004</span>
						<div class="work__item-img">
							<img src="https://michaelhoweely.com/wp-content/uploads/2022/07/DALL%C2%B7E-2022-07-03-12.12.14-a-futuristic-cyborg-dance-club-neon-lights-1024x1024.png.webp" alt="6">
						</div>
					</div>
				</div>
			</section>

			<section class="about">
				<div class="about__wrapp">
					<div class="about__txt">
						<h2 class="section-title">tra<span class="stroke">ils</span>
							<span class="section-title__square"></span>
						</h2>
						<p class="about__p">
							<a href="http://localhost:5173/" target="_blank" class="redirect_btn">Go to Page</a>
						</p>
					</div>
					<div class="about__img">
						<img src="https://michaelhoweely.com/wp-content/uploads/2022/07/DALL%C2%B7E-2022-07-19-10.51.59-synthwave-hedgehog-blade-runner-cyberpunk-1024x1024.png" alt="2">
					</div>
				</div>
			</section>

			<!-- div .serv -->
			<!-- <section class="serv">
				<div class="content">
					<h2 class="section-title">Trai<span class="stroke">ls</span>
						<span class="section-title__square"></span>
					</h2>
					 -->

					<!-- <div class="serv__list">
						<div class="serv__item">
							<span class="serv__item-arrow" data-speed="500">
								<img src="img/arrow.svg" alt="">
							</span>
							<div class="serv__item-txt">
								<span class="serv__item-text">/Graphic Design</span>
							</div>
						</div>
						<div class="serv__item">
							<span class="serv__item-arrow" data-speed="400">
								<img src="img/arrow.svg" alt="">
							</span>
							<div class="serv__item-txt">
								<span class="serv__item-text">/UX/UI Design</span>
							</div>
						</div>
						<div class="serv__item">
							<span class="serv__item-arrow" data-speed="800">
								<img src="img/arrow.svg" alt="">
							</span>
							<div class="serv__item-txt">
								<span class="serv__item-text">/Web Design</span>
							</div>
						</div>
						<div class="serv__item">
							<span class="serv__item-arrow" data-speed="600">
								<img src="img/arrow.svg" alt="">
							</span>
							<div class="serv__item-txt">
								<span class="serv__item-text">/Brend Design</span>
							</div>
						</div>
					</div> -->
					
				<!-- </div>
			</section> -->
		</main>

		<!-- div .footer -->
		<footer class="footer">
			<div class="footer__div">
				<span data-speed="-300">r</span>
				<span data-speed="100">a</span>
				<span data-speed="300">v</span>
				<span data-speed="-300">i</span>
				<span data-speed="350">k</span>
				<span data-speed="200">i</span>
				<span data-speed="-310">s</span>
				<span data-speed="200">h</span>
				<span data-speed="-340">a</span>
				<span data-speed="-100">n</span>
			</div>
		</footer>
	</div>
	<!-- /div .wrapp END -->
	<script src="{{url_for('static', path='splitting.min.js')}}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js"></script>
	<script src="{{url_for('static', path='luxy.js')}}"></script>
	<script src="{{url_for('static', path='js.js')}}"></script>
</body>

</html>